/* custom background prism color */
pre[class*="language-"] {
  /* background: #F1F4F5 !important; */
  margin: 1rem 0 2rem;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  font-size: 0.9375rem;
  max-height: 40rem;
  overflow: auto;
  background: #fcfcfc !important;
}
/* custom background prism color */
code[class*="language-"] {
  background: rgba(0, 0, 0, 0.025) !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
  border-radius: 3px !important;
  padding: 3px !important;
  font-size: 85%;
  color: #123aca;
  word-break: break-word;
  box-sizing: border-box;
}

.token.tag {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
